<app-add-edit-aut *ngIf="VisibleAddEditAut" [author]=author (formClosed)="hideFormEdit()"></app-add-edit-aut>

<button type="button" class="btn btn-link float-left" (click)="visibleFormEdit()">Добавить автора</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Авторы</th>
            <th>Книг в базе</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let author of authors">
            <tr>
                <td>
                    {{author.lastName}} {{author.firstName}} {{author.middleName}}
                </td>
                <td>
                    {{author.birthday}}
                </td>
                <td>
                    <button class="btn btn-link col-sm-3"(click)="editAuthor(author.id)">Редактировать</button>
                </td>
                <td>
                    <button class="btn btn-link col-sm-3" (click)="deleteAuthor(author.id)" >Удалить</button>
                </td>
                <td>
                    <button class="btn btn-link col-sm-3" >Детали</button>
                </td>
            </tr>

        </ng-container>

    </tbody>
</table>



